.details {
  min-width: 300px;
}

.usages {
  padding-bottom: 1rem;
}

.usages li {
  padding: 0 0.5rem;
}

.technos [title] {
  text-decoration: underline dotted;
}

.technos [title]:hover {
  cursor: help;
}

@font-face {
  font-family: "EuclidFlex-Bold-WebS";
  src: url("EuclidFlex-Bold-WebS.woff") format("woff")
}

#header h1 {
  color: #232253;
  font-family: EuclidFlex-Bold-WebS, sans-serif;
  font-weight: 400;
  margin: 0 0.5rem;
}